@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SDVDaily</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-link dropdown-toggle nav-link text-dark" href="#" role="button" id="menuMaster" data-bs-toggle="dropdown" aria-expanded="false">
                                Master
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="menuMaster">

                                <li><a class="dropdown-item" asp-controller="Crop" asp-action="Index">Crops</a></li>
                                <li><a class="dropdown-item" asp-controller="Villager" asp-action="Index">Villagers</a></li>
                                <li><a class="dropdown-item" asp-controller="Event" asp-action="Index">Events</a></li>
                            </ul>
                        </div>

                    </li>
                </ul>
                @if (Context.Session.GetInt32("userId") == null)
                {
                    <div>
                        <button id="btn-login" class="btn btn-success">
                            <i class="fas fa-sign-in-alt me-2"></i>Login
                        </button>
                    </div>
                }
                else
                {
                    <div class="mx-2">
                        @if (Context.Session.GetString("saveId") == null)
                        {
                            <button class="add-farm btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticModal">
                                <i class="fas fa-plus-circle me-2"></i>New Farm
                            </button>
                        }
                        else 
                        {
                            <div class="dropdown">
                                <a class="btn btn-link dropdown-toggle nav-link text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Context.Session.GetString("saveName")'s Farm
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item change-farm" href="#" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-sync me-2"></i>Change Farm</a></li>
                                    <li><a class="dropdown-item add-farm" href="#" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-plus me-2"></i>New Farm</a></li>
                                </ul>
                            </div>
                        }
                    </div>
                    <div>
                        <button id="btn-logout" class="btn btn-danger">
                            <i class="fas fa-sign-out-alt me-2"></i>Logout
                        </button>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>

<script>
    $("#btn-login").click(() => {
        location.href = "/Auth/Login";
    })

    $("#btn-logout").click(() => {
        location.href = "/Auth/Logout";
    })

    $(".add-farm").click((e) => {
        $("#staticModalBody").html(spinner);
        $("#staticModalBody").load("/SaveFile/New");
    })

    $(".change-farm").click((e) => {
        $("#staticModalBody").html(spinner);
        $("#staticModalBody").load("/SaveFile/Change");
    })
</script>