@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex">
    @if (ViewBag.Year != null && ViewBag.Day != null)
    {
        <div class="h4">@ViewBag.Season @(ViewBag.Day), Year @ViewBag.Year</div>
        <button type="button" id="add-crop-btn" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#staticModalLg">Add Crop</button>
    }
</div>

<script>
    $(".btn-primary").click((e) => {
        $("#staticModalLgBody").html(spinner);
        $("#staticModalLgBody").load("/Crop/Add");
    })
</script>