@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div>
    <div class="card card-body">
        <form id="frmAddCrop">
            <div class="row align-items-center">
                <div class="col-8">
                    <div class="fw-lightbold mb-2">Crop</div>
                    <div class="ps-0">
                        <select id="CropId" name="CropId" class="form-select" aria-label="Crop select"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="fw-lightbold mb-2">Amount</div>
                    <div>
                        <input type="number" class="form-control" id="Amount" name="Amount" min="1" value="1">
                    </div>
                </div>
            </div>
            <div class="m-3 row">
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" value="true" id="IsOnGinger" name="IsOnGinger">
                    <label class="form-check-label" for="IsOnGinger">
                        On Ginger Island
                    </label>
                </div>
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" value="true" id="IsIndoors" name="IsIndoors">
                    <label class="form-check-label" for="IsIndoors">
                        Indoors
                    </label>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-3">
                    <div class="fw-lightbold mb-2">Profession</div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="IsAgriculturist" name="IsAgriculturist">
                        <label class="form-check-label" for="agriculturist">
                            Agriculturist
                        </label>
                    </div>
                </div>
                <div class="col-9">
                    <div class="fw-lightbold mb-2">Fertilizer</div>
                    <div class="row ms-1">
                        <div class="form-check col-lg-4">
                            <input class="form-check-input fertilizerCheck" type="checkbox" value="true" id="IsSG" name="IsSG">
                            <label class="form-check-label" for="sgCheck">
                                Speed-Gro
                            </label>
                        </div>
                        <div class="form-check col-lg-4">
                            <input class="form-check-input fertilizerCheck" type="checkbox" value="true" id="IsDSG" name="IsDSG">
                            <label class="form-check-label" for="dsgCheck">
                                Deluxe Speed-Gro
                            </label>
                        </div>
                        <div class="form-check col-lg-4">
                            <input class="form-check-input fertilizerCheck" type="checkbox" value="true" id="IsHSG" name="IsHSG">
                            <label class="form-check-label" for="hsgCheck">
                                Hyper Speed-Gro
                            </label>
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="my-2 crop-alert">

    </div>
    <div class="d-flex justify-content-end gap-2 mt-3">
        <button class="btn btn-secondary">Cancel</button>
        <button id="btn-add" class="btn btn-primary">Add</button>
    </div>
</div>

<script>
    $('#staticModalLgLabel').text("@ViewBag.Title");

    $(document).ready(() => {
        getCrops('season');
    })

    $('#IsOnGinger').click(function(e) {
        if ($(this).prop("checked")) {
            $('#IsIndoors').prop("checked", false);
            getCrops('ginger');
        }
        else {
            getCrops('season');
        }
    })

    $('#IsIndoors').click(function (e) {
        if ($(this).prop("checked")) {
            $('#IsOnGinger').prop("checked", false);
            getCrops('all');
        }
        else {
            getCrops('season');
        }
    })

    function getCrops(category) {
        $.ajax({
            url: "/Crop/GetCropsBy",
            data: {
                category: category
            },
            dataType: "json",
            beforeSend: () => { },
            success: (response) => {
                    if (response.data.length > 0) {
                    $("#CropId").empty();
                    $("#CropId").append(`<option value="">-- Select crop --</option>`);
                    $.each(
                        response.data,
                        function (idx, data) {
                            $("#CropId").append(
                                `<option value="${data.id}">${data.name}</option>`
                            );
                        }
                    );
                }
            },
            error: (errResponse) => {
                console.error(errResponse);
            }

        })
    }

    $('.fertilizerCheck').click((e) => {
        if ($(e.target).attr('id') != 'IsSG') {
            $('#IsSG').prop("checked", false);
        }
        if ($(e.target).attr('id') != 'IsDSG') {
            $('#IsDSG').prop("checked", false);
        }
        if ($(e.target).attr('id') != 'IsHSG') {
            $('#IsHSG').prop("checked", false);
        }
    })

    $("#btn-add").click((e) => $("#frmAddCrop").submit());

    $("#frmAddCrop").submit(function (e) {
        e.preventDefault();
        if ($("#frmAddCrop").valid()) {
            $.ajax({
                url: "/Crop/Add",
                type: "post",
                data: $("#frmAddCrop").serialize(),
                dataType: "json",
                success: (response) => {
                    $('.crop-alert').html(alert);
                    $('#alertText').text(response.message);
                    if (response.statusCode == 201) {
                        $('#dismissableAlert').addClass('alert-success');
                    }
                    else if (response.statusCode == 200) {
                        $('#dismissableAlert').addClass('alert-warning');
                    }
                    else {
                        $('#dismissableAlert').addClass('alert-danger');
                    }
                },
                error: (errResponse) => {
                    console.error(errResponse);
                }
            });
        }
        else {
            console.error("Data is not valid!");
        }
    })

    $('#frmAddCrop').validate({
        rules: {
            CropId: "required",
            Amount: {
                required: true,
                min: 1
            }
        }
    })
</script>